#container
  %form.form-signin{:action => "login", :method => :get}
    = text_field_tag :username_or_email, nil, :placeholder => 'User email', :class=>"input-block-level"
    = password_field_tag :password, nil, :placeholder => 'User password',:class=>"input-block-level"
    %button.btn-large.btn-primary{:type => "submit"} Log in

#container
  %form.form-signin{:action => users_path, :method => :post}
    = text_field :user, :first_name, :placeholder => 'First Name', :class=>"input-block-level"
    = text_field :user, :last_name, :placeholder=> 'Last Name', :class=>"input-block-level"
    = email_field :user, :email, :placeholder=> 'Email', :class=>"input-block-level"
    = password_field :user, :password, :placeholder => 'Password',:class=>"input-block-level"
    = password_field :user, :password_confirmation, :placeholder => 'Confirmation', :class=>"input-block-level"
    = label :user, :birthday, 'Birthday'
    = date_select :user, :birthday, :start_year => 1920
    .form-inline
      = label :user, :gender_male, 'Male'
      = radio_button :user, :gender, 'male', :class => 'radio inline'
      = label :user, :gender_female, 'Female'
      = radio_button :user, :gender, 'female', :class => 'radio inline'
      %button.btn-large.btn-primary{:type => "submit"} Sign Up

