- if @cl.contact.any?
  - @cl.contact.each do |c|
    %tr
      %td #{c.first_name}
      %td #{c.last_name}
      %td #{c.email}
      %td #{c.comments}
      %td
        %a(class="btn btn-info" id="edit" data-remote='true' href="/contacts/#{c.id}/edit" )
          %i.icon-pencil
        %a(class="btn btn-info" id="delete" data-remote='true'  href="/contacts/#{c.id}/delete" )
          %i.icon-trash
- else
  %tr
    %td(colspan="5")
      %span No results

